<html>

<head>
    <title>column page</title>
    <link rel="stylesheet" type="text/css" href="column.css">
</head>

<body>
    <div class="column">
        <button onclick="Addrowfunction()">Add Row</button>
        <button onclick="Deleterowfunction()">Delete Row</button>
        <table id="myTable">
            <th></th>
            <th>Column1</th>
            <th>Column2</th>
            <th>Column3</th>
            <th>Column4</th>
            <tr>
                <td>
                    <select name="dd" size="1">day
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="check1">
                </td>
                <td>Column1</td>
                <td>String</td>
                <td> vhgv</td>
                <td>yes</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="check1">
                </td>
                <td>Column2</td>
                <td>String</td>
                <td>String</td>
                <td>yes</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox" name="check1">
                </td>
                <td>Column3</td>
                <td>number</td>
                <td>String</td>
                <td>yes</td>
            </tr>
        </table>
</body>

</html>
