<html>
<head>
	<title>column page</title>
     <link rel="stylesheet" type="text/css" href="column.css">
</head>

<body>
<div class="column">
	<button  onclick="Addfunction()">Add column</button>
	<button  onclick="Deletefunction()">Remove column</button>


	<table id="table" border="2">
<th></th>
<th>Column Name</th>
<th>Column type</th>
<th>Editable</th>
<tr>

 <td><input type="checkbox" name="check1"></td>
 <td>Column1</td>
 <td>String</td>
 <td>yes</td>

</tr>

<tr>

 <td><input type="checkbox" name="check1"></td>
 <td>Column2</td>
 <td>String</td>
 <td>yes</td>
 
</tr>

<tr>

 <td><input type="checkbox" name="check1"></td>
 <td>Column3</td>
 <td>number</td>
 <td>yes</td>
 
</tr>


 </table>
</body>
</html>
